{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles.css') }}"
/>
<link rel="icon" type="image/x-icon" href="../images/logo.ico" />
<h1>
  <img src="../images/logo.png" width="10%" />
  <img src="../images/logo_20230106.png" />
</h1>

<p></p>
<div class="tab">
  <button class="tablinks" onclick="openchoice(event, 'Ohm')" id="defaultOpen">
    Lei de Ohm
  </button>
  <button class="tablinks" onclick="openchoice(event, 'MeiaOnda')">
    Retificador meia-onda
  </button>
  <button class="tablinks" onclick="showImage('circuit_R3.png')">
    Retificador Onda Completa
  </button>
</div>

<div id="Ohm" class="tabcontent">
  <h3>Escolha um dos três circuitos</h3>
  <p>Clique OK para seguir</p>
  <div>
    <img
      src="../images/circuit_R1.png"
      width="40%"
      height="auto"
      alt="circuito R1"
      class="responsive"
      onclick="redirecionarPaginaEAcionar('10010101', 'output')"
      style="cursor: pointer"
    />
    <p></p>
    <!-- Font Awesome Icon Library -->
    <!-- Butão de escolha da tensão Vcc-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <div class="dropdown-container">
      <button class="btn">V<sub>cc</sub></button>
      <div class="dropdown">
        <button class="btn" style="border-left: 1px solid navy">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content-vcc">
          <a href="#">1V</a>
          <a href="#">2V</a>
          <a href="#">3V</a>
        </div>
      </div>

      <!-- Adicione um espaço entre os dropdowns -->
      <div class="dropdown-space"></div>

      <!-- Butão de escolha das resistências -->
      <button class="btn">R</button>
      <div class="dropdown">
        <button class="btn" style="border-left: 1px solid navy">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content-resistors">
          <a href="#">1K</a>
          <a href="#">2K</a>
          <a href="#">3K</a>
        </div>
      </div>
    </div>

    <div id="MeiaOnda" class="tabcontent">
      <h3>Escolha um dos três circuitos</h3>
      <p>Clique OK para seguir</p>
      <div>
        <img
          src="../images/circuit_R3.png"
          width="30%"
          height="auto"
          alt="circuito R3"
          class="responsive"
        />
      </div>
    </div>

    <script>
      function openchoice(evt, choice) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(choice).style.display = "block";
        evt.currentTarget.className += " active";
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>

    <script>
      function accionarReles(parametro) {
        // Transforma o parâmetro em uma string binária
        const parametroBinario = "0b" + parametro;
        fetch(`/atualizar_shift_register?parametro=${parametroBinario}`)
          .then((response) => {
            // Lida com a resposta, se necessário
            console.log("Requisição enviada!");
          })
          .catch((error) => {
            // Lida com possíveis erros
            console.error("Erro:", error);
          });
      }

      function redirecionarPaginaEAcionar(parametro, url) {
        accionarReles(parametro); // Chama a função accionarReles com o parâmetro especificado
        window.location.href = url; // Redireciona para a URL especificada
      }
    </script>

    <script>
      /* When the user clicks on the button, 
  toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>

    {% endblock %}
  </div>
</div>
